body {
    margin:0;
    font-family: sans-serif;
    color:#3b4658;
}

#cart {
    position:fixed;
    bottom:0;
    background:#3b465b;
    width:100%;
    left:0;
    text-align:center;
    box-sizing:border-box;
    z-index:10;
    user-select:none;
    padding:10px;
}

#cart button {
    background:transparent;
    border:0;
    color:white;
    outline:none;
    border-radius:3px;
    font-weight:bold;
}

#checkout-toggle-button {
    padding:15px;
    margin-left:16px;
}

#cart-contents {
    color:white;
    max-width: 550px;
    user-select:none;
    padding:10px;
    border-radius:3px;
    box-shadow:0px 0px 10px hsla(0,10%,10%,.3);
    position:absolute;
    z-index:1;
    padding-bottom:40px;
    bottom:40px;
    z-index:3;
    background:#3b465b;
    transition:height .2s, opacity .2s;
    width:100%;
    position:fixed;
    left:50%;
    transform:translateX(-50%);
    box-sizing:border-box;
}

#cart-contents .thumb {
    border-radius: 2px;
}

#cart-contents .description {
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid #3b465b;
}

#cart-contents .title {
    line-height:31px;
} 

#cart-contents > div:nth-child(odd) {
    background:hsla(0,10%,10%,.1);
}
#cart-contents > div {
    /* border:1px solid #3b465b; */
    display:flex;
    justify-content:space-between;
    text-align:center;
    padding:5px;
    bottom:translateY(50px);
}

#cart-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    max-width:540px;
    margin:0 auto;
}

#logo {
    background:#3b4658;
}

#cart-count {
    display:inline-block;
    width:15px;
    color:white;
    font-weight:bold;
    margin-left:5px;
    font-size:11;
    background:#3592b2;
    border-radius:5px;
    padding:5px;
    transform:scale(.75);
}

.cart-open {
    height:auto;
    opacity:100%;
}

.cart-closed {
    height:0;
    opacity:0;
}

#checkout {
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0 30px;
    position:fixed;
    top: 0;
    left: 0;
    background: #3b465b;
    transition: opacity .2s, transform .2s;
    user-select:none;
    z-index:2;
}

.checkout-open {
    opacity:100%;
}

.checkout-closed {
    opacity:0;
    transform:translateX(100%);
}

#results {
    margin-bottom:70px;
    user-select:none;
    -webkit-user-select:none;
    padding:20px;
    box-sizing:border-box;
    max-width: 570px;
    margin:0 auto 65px;
    position:relative;
}
#results * {
    -webkit-user-select:none;
}

#results .result .text .title {
    text-align:right;
}
#results .result .media .thumb {
    /* border:1px solid #3b465b; */
    border-radius:3px;
    box-shadow:0px 0px 10px hsla(0,10%,10%,.3);
    
} 

#results .result .text .description {
    max-width: 365px;
    display: block;
    text-align: right;
    margin-bottom:30px;
    margin-left:20px;
}

#results .result .text { text-align:right;}

#results .result .text button {
    background: #3592b2;
    border:0;
    padding:10px;
    display:inline-block;
    border-radius:3px;
    color:white;
    font-weight:bold;
}

#results > *:nth-child(even) {
    background:hsla(0,20%,10%,.02);
    border-radius:3px;
}

#results .result {
    position:relative;
    width:100%;
    max-width:570px;
    margin:0 auto;
    padding:20px;
    display:flex;
    align-items: end;
    justify-content: space-between;
    box-sizing:border-box;
}

#results *:last-child {
    margin-bottom:0;
}

#search {
    background:#3b465b;
    padding: 10px 0;
    z-index:1;
    transform:translateY(-1px)
}

.label {
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    color:white;
    margin-bottom:10px;
}

#checkout-container {
    max-width:520px;margin:0 auto;
    overflow:auto;
    height:calc(100% - 45px);
}

#checkout-container > div {
    margin-bottom:17px;
}

#checkout-container > h2 {
    margin-top:70px;
    color:white;
}

#rental-agreement{
    color:white;
    margin:30px 0 15px;
    max-width:300px;
}

#checkout-container input[type=text],
#search-bar
{
    max-width: 500px;
    border: 1px solid hsla(0,0%,0%,.2);
    border-radius: 3px;
    font-size: 21px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    padding:15px;
}

#search-bar {
    margin-left: 10px;
    color:#3b465b;
}

#search-button {
    background-color:#629a81;
    color:white;
    border:1px solid hsla(0,0%,0%,.1);
    border-radius:2px;
    font-weight:bold;
    margin:0 10px 0 5px;
    padding:10px;
}

#search {
    width:100%;
    display:flex;
    justify-content:center;
    position:sticky;
    top:0;
}

#checkout-submit {
    padding:18px 24px;
    background-color:rgb(98, 154, 129);
    color:white;
    border:0;
    margin:0 auto;
    margin-bottom:30px;
    display:block;
    border-radius: 3px;
    font-size:13px;
    font-weight:bold;
}

.remove-button {
    background:hsla(0,70%,50%,.7);
    color:white;
    border:0;
    border-radius:2px;
}

#logo svg {
    position:relative;
    left:5px;
}

#logo {
    text-align:center;
    width:100%;
    padding:23vh 0 0;
    margin: 0;
}

#load-more-button {
    background-color:#3b4658;
    border:0;
    color:white;
    padding:10px;
    border-radius:3px;
    font-weight:bold;
   
}
